* {
    margin: 0px;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    scroll-snap-align: initial;
    scroll-snap-type: mandatory;
}

body {
    min-height: 100dvh;
    width: 100%;
    background: #000;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 20px;
    color: #fff;
}


.header > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header h1 {
    font-weight: 200;
    font-size: 2em;
}

.header p {
    font-size: 1.5em;
    font-weight: 100;
    color: #ffdcff;
}

.icon {
    width: 2.5em;
    height: 2.5em;
    image-rendering: optimizeQuality;
}

.recomendacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 88%;
    height: 40dvh;
    gap: 1em;
    padding: 2%;
    background: linear-gradient(45deg, #d06aff 25%, #ffc5fd 45%, #0caaff8c 100%);
}

.textos {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.textos h2 {
    font-style: oblique;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.textos p {
    font-style: normal;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.thumbnail {
    width: 40%;
    height: 100%
}

.categoria-recomendados {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    color: #fff;
}

.categoria-recomendados h3 {
    font-style: oblique;
    font-size: 1.5em;
    font-weight: 300;
}

.categoria-recomendados > div {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
}

.categoria-recomendados img {
    width: 300px;
    opacity: 0.5;
}

.categoria-recomendados img:hover {
    opacity: 1;
}

.footer {
    display: flex;
    align-items: center;
    padding: 1em 5%;
    justify-content: space-between;
}

@media (max-width: 700px) {

    
    .header{
        flex-direction: column;
    }
    .header > div {
        align-items: center;
        justify-content: center;
    }
    .header h1 {
        font-size: 1.5em;
    }
    .header p {
        font-size: 1em;
        text-align: center;
    }
    .icon { 
        width: 2em;
        height: 2em
    }
    .recomendacao {
        flex-direction: column;
        height: fit-content;
    }
    .textos {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    .textos h2 {
        font-size: 1.8em;
    }
    .textos p {
        font-size: 1em;;
    }
    .thumbnail {
        width: auto;
        height: 50dvh;
    }
    .categoria-recomendados img {
        width: 100dvw;
    }
}
